.card {
    color: white;
    text-decoration: none;
    background-color: #0e253b;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 7px;
    box-shadow: 3px 2px 10px 3px rgba(0, 0, 0, 0.25);
}

.card:hover {
    box-shadow: 3px 2px 10px 3px rgba(0, 0, 0, 0.75);
}

.card img {
    width: 100%;
    height: 50%;
    aspect-ratio: 16/5;
    border: solid 2px white;
}

.text {
    padding: 5px;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}