.card {
    color: white;
    text-decoration: none;
    background-color: #0e253b;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.card img {
    width: 100%;
    height: 50%;
}

.text {
    padding: 5px;
}