.box {
    color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box h2 {
    margin-bottom: 10px;
}

.box .cards {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    gap: 20px;
    width: 80%;
}