:root {
  --background: #06121e;

  --text1: #bbd3ebd9;

  --text2: #deeaf6f5;

  --header: #030e18;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  color: var(--text1);
  min-height: 100vh;
}

header {
  min-height: 10vh;
  opacity: 1;
  background-color: var(--header);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

header nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
}

header nav ul li a {
  color: var(--text1);
  text-decoration: none;
  transition: all 450ms 25ms ease-in-out;
  font-weight: bold;
  font-size: 1.2rem;
  display: block;
}

header nav ul .active a,
header nav ul li a:hover {
  color: var(--text2);
  border-bottom: 2px var(--text1) solid;
}

header nav ul li a:active {
  animation: focusLink 100ms ease-in-out 1;
}

@keyframes focusLink {
  0% {
    scale: 1;
  }

  50% {
    scale: 0.9;
  }

  100% {
    scale: 1;
  }
}