.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    background-color: #020c14;
    padding: 5px;
    aspect-ratio: 1 / 1.5;
    border-radius: 10px;
    box-shadow: 4px 3px 0px 0px rgba(255, 159, 56, 1);
    -webkit-box-shadow: 4px 3px 0px 0px rgba(255, 159, 56, 1);
    -moz-box-shadow: 4px 3px 0px 0px rgba(255, 159, 56, 1);
}

.box p {
    width: 80%;
    text-align: center;
}

.box a {
    text-decoration: none;
    color: #020c14d8;
    background-color: #bbd3eb;
    padding: 7px 13px;
    border-radius: 5px;
    font-size: 1.3rem;
    font-weight: bold;
}